<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>staging</key>
	<dict>
		<key>api_server_url</key>
		<string>URL_HERE</string>
		<key>api_key</key>
		<string>API_KEY_HERE</string>
	</dict>
	<key>debug</key>
	<dict>
		<key>api_server_url</key>
		<string>URL_HERE</string>
		<key>api_key</key>
		<string>API_KEY_HERE</string>
	</dict>
	<key>production</key>
	<dict>
		<key>api_server_url</key>
		<string>URL_HERE</string>
		<key>api_key</key>
		<string>API_KEY_HERE</string>
	</dict>
</dict>
</plist>
