<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460308559718-2jtr0qkp0uucp8sr3gjornodp4g8hp4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460308559718-2jtr0qkp0uucp8sr3gjornodp4g8hp4v</string>
	<key>API_KEY</key>
	<string>AIzaSyAjzrza_aK0R96cf-Sc1u_Aa2m_HMaJrw4</string>
	<key>GCM_SENDER_ID</key>
	<string>460308559718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wafflestudio.snutt</string>
	<key>PROJECT_ID</key>
	<string>snutt-792f1</string>
	<key>STORAGE_BUCKET</key>
	<string>snutt-792f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:460308559718:ios:55474c57ce8d073b</string>
	<key>DATABASE_URL</key>
	<string>https://snutt-792f1.firebaseio.com</string>
</dict>
</plist>
