--disable enumNamespaces
--disable strongOutlets
--exclude Pods
--varattributes same-line
--funcattributes same-line
--typeattributes prev-line
--disable redundantLet
--extensionacl on-declarations
--maxwidth 119
