SNUEV_WEB_URL = snutt-ev-web-dev.wafflestudio.com
API_SERVER_URL = snutt-api-dev.wafflestudio.com
API_KEY = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdHJpbmciOiJpb3MiLCJrZXlfdmVyc2lvbiI6IjAiLCJpYXQiOjE1MDc3MjM3MDd9.wlhtBwB2e9A4qzA7PdjR-NdER2O_jajPCzlMhcREpig
ACCESS_TOKEN_TEST = 3340f3fa9b2a940574d8bbe1ab5977c95fc5bb891e6e0b3412aeaa3a02be9290

FACEBOOK_APP_ID = 1784457425210381
FACEBOOK_DISPLAY_NAME = SNUTT-DEV
FACEBOOK_CLIENT_TOKEN = 9d397b67d98fd9531d2b6a94de029651

NAVER_MAP_CLIENT_ID = 5ldy8yk1dt

KAKAO_APP_KEY = 27523c83d8671e63c0d578fc17cff810

URL_SCHEME = snutt-dev
PRODUCT_BUNDLE_IDENTIFIER = com.shp7724.snutt.dev
