SNUEV_WEB_URL = snutt-ev-web.wafflestudio.com
API_SERVER_URL = snutt-api.wafflestudio.com
API_KEY = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdHJpbmciOiJpb3MiLCJrZXlfdmVyc2lvbiI6IjAiLCJpYXQiOjE1MDc3MjM3MDd9.wlhtBwB2e9A4qzA7PdjR-NdER2O_jajPCzlMhcREpig

FACEBOOK_APP_ID = 1784457425210381
FACEBOOK_DISPLAY_NAME = SNUTT
FACEBOOK_CLIENT_TOKEN = b4a85c414d51f58b692590bae2c52cea

NAVER_MAP_CLIENT_ID = 5ldy8yk1dt

KAKAO_APP_KEY = 823c292a85aa422b7b7e0f5173cc0295

URL_SCHEME = snutt
PRODUCT_BUNDLE_IDENTIFIER = com.wafflestudio.snutt
