# name: Xcode

# on:
#   pull_request:
#     paths:
#       - "SNUTT-2022/**"
#       - ".github/workflows/build-legacy.yml"

# jobs:
#   build-and-test:
#     name: ${{ matrix.command }} on Xcode ${{ matrix.xcode }}, ${{ matrix.macos }}
#     runs-on: ${{ matrix.macos }} # os switching

#     strategy:
#       fail-fast: false # if 'true' then one failed job cancels all jobs remaining
#       matrix:
#         # see https://github.com/actions/virtual-environments/blob/main/images/macos/macos-15-Readme.md for available versions
#         xcode: ["16.1"]
#         macos: [macos-15]
#         command: ["build"]  # append "test" for executing test action
#         scheme: ["SNUTT"]

#     steps:
#       - uses: actions/checkout@v4

#       - run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app/Contents/Developer

#       - name: (Optional) Download iOS Simulator runtimes (18.x)
#         run: |
#           xcodebuild -downloadPlatform iOS
#           xcodebuild -showsdks

#       - name: Populate DebugConfig.xcconfig from Secrets
#         shell: bash
#         env:
#           DEBUG_CONFIG: ${{ secrets.DEBUG_CONFIG }}
#           GOOGLE_SERVICE_DEBUG_INFO: ${{ secrets.GOOGLE_SERVICE_DEBUG_INFO }}
#           GOOGLE_SERVICE_RELEASE_INFO: ${{ secrets.GOOGLE_SERVICE_RELEASE_INFO }}
#         run: |
#           echo "$GOOGLE_SERVICE_DEBUG_INFO" > SNUTT-2022/SNUTT/GoogleServiceDebugInfo.plist
#           echo "$GOOGLE_SERVICE_RELEASE_INFO" > SNUTT-2022/SNUTT/GoogleServiceReleaseInfo.plist
#           echo "$DEBUG_CONFIG" > SNUTT-2022/SNUTT/DebugConfig.xcconfig

#       - uses: mxcl/xcodebuild@v3
#         with:
#           platform: iOS
#           platform-version: '^18'
#           action: ${{ matrix.command }}
#           scheme: ${{ matrix.scheme }}
#           code-coverage: true
#           verbosity: xcpretty
#           configuration: Debug
#           working-directory: SNUTT-2022
#           code-sign-identity: '-'
